.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 3rem;
}
.copywright{
    color: #333;
    text-decoration: none;
}